<!DOCTYPE html>
<html>
  <head>
    <title>Systematic Review</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      .container {
        max-width: 1600px;
        /*padding-top: 100px;*/
      }

      a:visited {
        color: rgb(159, 159, 159);
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"><img src="/images/brain.jpg" width="50px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/scopus-query">[List - All]</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/scopus-query-pass">[List - Passed First Screen]</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="/scopus-query-pass-sysreview">[List - First Screen Sys Review]</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="/scopus-first-pass">[Entry - First Pass]</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="/scopus-next-extract">[Entry - Extract]</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="/scopus-reject-no-reason">[Reject without Reason (ASReview)]</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="/custom_paper_entry">[Add custom paper]</a>
          </li> -->
        </ul>
      </div>
      <div style="float: right;">
        <a target="_blank" href="https://liveswinburneeduau-my.sharepoint.com/:x:/r/personal/zkoh_swin_edu_au/Documents/1%20-%20Projects/Systematic%20Review/Full%20Text%20Screening%20Log.xlsx?d=w0852660687984bf39d4719c4287ddb35&csf=1&web=1&e=Mlurh2">Tips, reference, Q&A log</a>
      </div>
  </nav>    
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    {% block script %}

   {% endblock %}
    
  </body>
</html>