<!DOCTYPE html>
<html>
  <head>
    <title>Systematic Review</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.smartmenus/1.1.1/addons/bootstrap-4/jquery.smartmenus.bootstrap-4.min.css" integrity="sha512-OA47rpkKasrYmbufD0p/c2gqiPc2ACGctbXHY4F2+478e+qTH27X4JHkQdoMRjCexhjdyuofoQxutqRGKDg0Ow==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style type="text/css">
      .container {
        max-width: 1600px;
        /*padding-top: 100px;*/
      }

      a:visited {
        color: rgb(159, 159, 159);
      }
    </style>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded mb-4">
      <a class="navbar-brand" href="#"><img src="/images/brain.jpg" width="50px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="nav navbar-nav" id="main-menu">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/save-query">Save List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/next-item">Let's Screen {% if total_extract_outstanding is defined %}(<span>{{ total_extract_outstanding }}</span>){% endif %}</a>
            </li>
          </ul>
        </div>
      </div>
      <div style="float: right;">
        <a target="_blank" href="https://liveswinburneeduau-my.sharepoint.com/:x:/r/personal/zkoh_swin_edu_au/Documents/1%20-%20Projects/Systematic%20Review/Full%20Text%20Screening%20Log.xlsx?d=w0852660687984bf39d4719c4287ddb35&csf=1&web=1&e=Mlurh2">Tips, reference, Q&A log</a>
      </div>
    </nav>    
    
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    {% block script %}

   {% endblock %}

   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.smartmenus/1.1.1/jquery.smartmenus.min.js" integrity="sha512-QDsq6P94BSSC6OE3BZ8S0lkYFK8zvM9s/JHM0u89nEKLOJhYFQ+AcfyWoyYs6hDPtRc9wUpgo61u6ePDhwbGFw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.smartmenus/1.1.1/addons/bootstrap-4/jquery.smartmenus.bootstrap-4.min.js" integrity="sha512-Hjmyl74CEDNjC2VvAwV3IesBmwZk9yqeH+9tWqTi3z3rL5WLBGlz2360qRRwkd2J8eA7hDC3ETe5E/5zQ/vaYg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  </body>
</html>